:root {
    --main-bg-color: rgb(255, 182, 46);
    --text-color-body: rgb(0, 0, 0);
    --text-color-buttons: rgb(255, 255, 255);

    /* buttons */
    --buttons: 0, 0, 255;
    --buttons-background: var(--main-bg-color);
    --buttons-border: rgba(var(--buttons), 1);
    --buttons-hover: rgba(var(--buttons), 0.5);
    --buttons-active: rgba(var(--buttons), 0.8);

    /* popup */
    --popup-background: var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color-body)
}

.dimmer {
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.container {
    margin-left: 35px;
    margin-right: 35px;
    /* width: 100%; */
    height: 100%;
}

.header {
    position: sticky;
    top: 0;
    background-color: var(--main-bg-color);
}

.container-content {
    overflow-y: auto;
}

button {
    transition-duration: 0.4s;
    background-color: var(--buttons-background);
    border: 2px solid var(--buttons-border);
    border-radius: 40px;
    overflow: hidden;
    padding-top: 0px;
}

button:hover {
    background-color: var(--buttons-hover);
    color: var(--text-color-buttons);
}
button:active {
    background-color: var(--buttons-active);
    color: var(--text-color-buttons);
}

.website-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
}

.website-button {
    padding-left: 0px;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 100px;
}

.website-button-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 40px;
    height: 40px;
}

.website-button-name {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 50px;
    max-width: 100px;
    width: calc(100% - 50px);
    white-space: normal;
}

.search-bar {
    display: flex;
    align-items: center;

    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--buttons-border);
    margin: auto;
    height: 30px;
    width: 50%;
}

.search-bar:focus-within {
    background-color: rgba(0, 0, 255, 0.75);
}

.search-bar-input {
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background-color: var(--buttons-background);
    color: var(--text-color-body);
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    /* min-width: 35px; */
    padding-left: 7px;
    padding-right: 7px;
    color: var(--text-color-buttons);
}

.url-element {
    margin-right: 10px;
}

.popup {
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: 15px;
    row-gap: 10px;

    border-radius: 10px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;
    background-color: var(--popup-background);
}

.popup-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    min-width: 150px;
}

.wrap { 
    white-space: pre-wrap;      /* CSS3 */   
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
 }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup-input {
    width: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 255, 1);
    padding-left: 10px;
}

.popup-input:focus {
    border-color: rgba(0, 0, 255, 0.7);
    outline-width: 0;
}

.button-footer {
    width: 100%;
}

.cancel-button {
    border-color: rgba(255, 0, 0, 1);
    float: right;
}
.cancel-button:hover {
    background-color: rgba(255, 0, 0, 0.5);
}
.cancel-button:active {
    background-color: rgba(255, 0, 0, 0.8);
}

.save-button {
    border-color: rgba(0, 255, 0, 1);
    margin-left: 5px;
    float: right;
}
.save-button:hover {
    background-color: rgba(0, 255, 0, 0.5);
}
.save-button:active {
    background-color: rgba(0, 255, 0, 0.8);
}